[submodule "ai_module"]
	path = ai_module
	url = https://github.com/t-K-o-S/realty-advisor-ai-ml

[submodule "blockchain_module"]
    path = blockchain_module
    url = https://github.com/Dixit-joshi/Realblockchain
